body{
    display: block;
    width: 90%;
    margin: 0  auto;
}

h1{
    text-align: center;
    color: rgb(42, 42, 43);    
}

#datosBiograficos,#datosLaborales{
    display: block;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;    
}

#datosBiograficos .row,#datosLaborales .row{
    display: block;
    margin-bottom: 5px;
}

#datosBiograficos label, #datosLaborales label{
    font-weight: 700;
    margin-right: 5px;
}